<div class="box">
  <mat-toolbar>
    <button mat-flat-button (click)="nuevo()" color="primary" class="mat-focus-indicator mat-flat-button mat-button-base mat-primary">
      <span>Nuevo maestro</span>
      <span class="mat-button-focus-overlay"></span>
    </button>
    <span class="spacer"></span>
  </mat-toolbar>
</div>

<div class="box table">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let maestro"> {{maestro.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let maestro"> {{maestro.persona.primer_nombre}} {{maestro.persona.segundo_nombre}} {{maestro.persona.apellido_paterno}} {{maestro.persona.apellido_materno}}</td>
    </ng-container>

    <ng-container matColumnDef="estatus">
      <th mat-header-cell *matHeaderCellDef> Estatus </th>
      <td mat-cell *matCellDef="let maestro"> {{maestro.persona.estatusPersona.estatus}} </td>
    </ng-container>

    <ng-container matColumnDef="categoria">
      <th mat-header-cell *matHeaderCellDef> Categoría </th>
      <td mat-cell *matCellDef="let maestro"> {{maestro.persona.categoria.categoria}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
