<h1>Direccion</h1>
<p>Calle: {{alumno.persona.direccion.calle}} </p>
<p>CP: {{alumno.persona.direccion.codigo_postal}} </p>
<p>Numero interior: {{alumno.persona.direccion.num_interior}} </p>
<p>Numero exterior: {{alumno.persona.direccion.num_exterior}} </p>
<p>Colonia: {{alumno.persona.direccion.colonia.nombre}} </p>
<p>Localidad: {{alumno.persona.direccion.colonia.localidad.nombre}} </p>
<p>Estado: {{alumno.persona.direccion.colonia.localidad.estado.nombre}} </p>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
